<?xml version="1.0"?>

<configuration>
	<runtime>
		<!--<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
				<bindingRedirect oldVersion="6.3.4.0" newVersion="6.3.5.0"/>
			</dependentAssembly>
		</assemblyBinding>-->
	</runtime>
</configuration>